$text-font: 'Open Sans', sans-serif;
$text-color: #3d3d3e;
$secondary-color: white;
$third-color:gray;

header{
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(240, 235, 235);
 
}
.menu{
    width: 70%;
    float: right;
    margin-top: 10px;

    ul li{
        
        display: inline-block;
        padding: 10px;
        list-style: none;
        color: $text-color;
        font-weight: bold;
        font-family: $text-font;
        cursor: pointer;
        

        &:hover{
            color: $secondary-color;
            text-decoration: underline;
        }
    }
   
    
}
.logo{
    width: 30%;
    margin-left: 200px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgba(194, 201, 194, 0.349);
    margin-top: 400px;
    width: 100%;
    height: 110px;
    border-block-end: #cd1232 4px solid;
    
}
.searchbar{
    display: inline-flex;
   
    
    button{

    font-family: $text-font;
    font-weight: bolder;
    color: $text-color;
    padding: 0px;
    cursor: pointer;

    &:hover{
        text-decoration: underline;
    }
    
    }
    #buy{
        border: 0px;
        text-align: left;
        padding-left: 10px;
        width: 90px;
        height: 52px;
        background-color: white;
        border-right: 1px rgba(128, 128, 128, 0.774) solid;

        }
   
    #prop{
        border: 0px;
        width: 200px;
        height: 52px;
        text-align: left;
        padding-left: 10px;
        background-color: white;
        border-right: 1px rgba(128, 128, 128, 0.774) solid;
    }
    #room{
        border: 0px;
        text-align: left;
        padding-left: 10px;
        width: 90px;
        height: 52px;
        background-color: white;
        border-right: 1px rgba(128, 128, 128, 0.774) solid;

    }
    #input1
    {
        width: 250px;
        height: 50px;
        border: 0px;
        padding-left: 10px;

    } }

#button1{

    border: none;
    color: $secondary-color;
    width: 120px;
    height: 52px;
    text-align: center;      
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #cd1232;
    font-family: $text-font; 
    cursor: pointer;

    &:hover{
        background-color: red;
        color: $secondary-color;
    
    }
}
#button2{

    border: none;
    color: $secondary-color;    
    width: 120px;
    height: 52px;
    text-align: center;        
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: $third-color;
    border-radius: 5px;
    font-family: $text-font;
    cursor: pointer;

    &:hover{
        background-color:$secondary-color;
        color: black;
        border: 2px solid $third-color;
    }
}
#titulo1{
    text-align: center;
    color: $text-color;
    font-family: $text-font;
    margin-top: 90px;
}


.logo{
    margin: 0%;
    width: 20%;
    height: auto;
    margin-left: 200px;
     img{
         width: auto;
         height: auto;
     }
}
.search{
    width: 100%;
    

}

.menu2{
    display: flex;
    justify-content: center;

    ul li{

        list-style: none;
        display: inline;
        font-family: $text-font;
        color: $third-color;
        padding: 10px;
        font-size: 12x;
    
        &:hover{
            color:$text-color;
            text-decoration: underline;
            font-weight: bold;  
        cursor: pointer;      }
    }
}


.gallery{
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    grid-template-rows:290px 290px 290px 290px;
    grid-gap: 10px;
    justify-content: center;
    margin-top: 30px;
    
    .container img{
        object-fit: cover;
    }
     
    #img1{
        grid-column: 1/3;
        grid-row: 1/2;    
     }
    
}
.appear-on-hover1 {
    margin-top:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $text-font;
    position: absolute;
    opacity: 0%;
    transition : opacity 500ms;
    text-align: center;
    width: 570px;
    height: 250px;
    background: rgba(255, 255, 255, 0.8);
    
    &:hover{
        opacity: 100%;
       
    }
  }
.appear-on-hover {
    margin-top: 40px;
    display: flex;
    position: absolute;
    font-family: $text-font;
    opacity: 0%;
    transition : opacity 500ms;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 250px;
    background: rgba(255, 255, 255, 0.8);

    &:hover{
        opacity: 100%;
       
    }
  }

#titulo2{
    
    text-align: center;
    color: $text-color;
    font-family: $text-font;
    margin-top: 100px;
}
.logos{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 60px;
}
.texto {
    ul li{
    display: inline-block;
    list-style: none;
    align-items: center;
    justify-content: center;
    color: $third-color;
    font-family: $text-font;
    font-size: 13px;
    padding: 8px;}
    
    li h4{
        color: $text-color;
        font-weight: bolder;
  
    }
    li h5{
        font-weight: bold;
        color: $text-color;
        &:hover{
            text-decoration: underline;
        }
    }
    ul{
        margin-left: 100px;
        margin-right: 100px;
    } 
   
}


.rodape1{
    background-color: #f7f7f7;
    padding-bottom: 60px;
    padding-top: 20px;
    
    h2{
        color: $text-color;
        margin-left: 155px;
        padding-top: 50px;
        font-family: $text-font;
    }
    ul li{
        display:inline-block;
        list-style: none;
        padding: 33px;
        font-family: $text-font;
        font-size: 15px;
        text-align: justify;
        color: $third-color;
    }
    h4{
        color: $text-color;
    }
    ul{
        margin-left: 100px;
        margin-right: 100px;
    }
    }

.faixa{
    background-color: #282a2a;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul li{
        display: inline;
        list-style: none;
        padding: 10px;
        font-family: $text-font;
    }
    #li1{
        color: $secondary-color;
        font-weight: bold;
    }
    #li2{
        color: $third-color;
    }
    li button{
        border-radius: 5px;
        background-color: #cd1232;
        height: 50px;
        width: 200px;
        color: $secondary-color;
        font-weight: bold;
        border-color: #cd1232;
        &:hover{
            background-color: white;
            border-radius: #cd1232;
            color: #cd1232;
            cursor: pointer;
        }
    }
}
.fim{
    background-color: #222323;
    padding-bottom: 30px;
    border-bottom: 1px $third-color solid;
    padding-right: 100px;
    padding-left: 100px
    ;
    ul{
        display:inline-table;   
    }
    ul li{
        list-style: none;
        
        font-family: $text-font;
        color: $third-color;

    }
    #social {
        float: right;
        padding-right: 10px;
    }
    #social li{
        list-style: none;
        padding: 1px;
    }
    h3{
        color: $secondary-color;
        font-weight: bold;
        font-family: $text-font;
    }
}
.faixafinal {
    font-family: $text-font;
    background-color: #222323;
    width: 100%;
     ul{
        display: inline-table;
     }
    #creditos{
        margin-left: 90px;
    }
    #creditos li{
        display: inline-block;
     
        padding: 10px;
        list-style: none;
        color: $third-color;
    }
    #select{
        float: right;
        margin-top: 40px;
        margin-right: 120px;
        li{
            list-style: none;
        }
        select{
            border: none;
            width: 110px;
            height: 40px;
            text-align: center;
            background-color: #2c2e2e;
            color: $secondary-color;
        }
    }
   
}

.funçao{
    margin-top: 50px;
    border-bottom: white 1px, solid;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-family: $text-font;
        
}

.containerf
{
   
    width: 26%;
    height: auto;
    background-color: rgba(128, 128, 128, 0.274);;
    padding-bottom: 20px;
    border-radius: 5px;
    ul li{
        
        list-style:circle;
        padding: 10px;
    
        &:hover{
            color:  white;
            
        }}
        input{
            background-color: rgb(255, 255, 255);
            border:black 1px solid;
            border-radius: 5px;
            height: 20px;
            
        }
        select{
            border-color: white;
            border-radius: 5px;
            border-color: $text-color;
            height:20px;
            
        }
        button#btnCalculo{
            margin-left: 140px;
            height: 50px;
            background-color: #cd1232;
            border-radius: 5px;
            border: white 1px solid;
            color: white;
            width: 100px;
            font-weight: bold;
            &:hover{
                background-color: white;
                color:  #cd1232;
                border:  #cd1232 2px solid;
            }
        }
    }

     
    
        
.hiddecontent{
   width: 100%;
   height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

    #zonas{
        
        margin-left: 32%;
        width: 100%;
        font-family: $text-font;
        font-size: 20px;
        height: 200px;
        

        #appearOnHover{
            color: #606168;
            width: 130px;
            height: 190px;
            margin-top: 0px;
            border-radius: 20px;
            display: flex;
            position: absolute;
            font-family: $text-font;
            opacity: 0%;
            transition: 200ms;
            text-align: center;
            align-items: center;
            justify-content: center;
            background: #f9f9f9;

                &:hover{
                    opacity: 100%;
                    border-bottom: greenyellow 5px solid;
                  
                }
        }
        #zona1{
            padding-right: 80px;
            float: left;
            border-right: solid 1px black;
            height:180px; 
        }
        #zona2{
            padding-left: 80px;
            padding-right: 80px;
            float: left;
            height:180px;
        }
        #zona3{
            padding-left: 80px;
            float: left;
            border-left: solid 1px black;
            height:180px;
        }
       
        }
        
     
        
    }



  




    @media all and (max-width: 600px)
{
        .header{
            width: 100%;
            height: auto;
        }
        .menu{
            padding-right: 10px;
            margin-right: 0px;
            width: 80%;
            font-size: 10px;
            margin-right: 0px;
            ul li{
                padding: 2px;
                img{
                    width: 10px;
                    height: 10px;
                }
            }
        }

        .logo {
            margin-top: 0%;
            margin-left: 10px;
            width: 20%;
            height: auto;
        img{
            width: 70px;
            height: 70px;
            
        }}
   

    .gallery{
        margin-left: 100px;
        margin-right: 100px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(8,1fr);
        grid-gap: 5px;

    }
    .search{
        
        margin-top: 115px;
        width: 100%;
        height: 50px;    
    }
    .searchbar{
        width: 70%;
        height: 30px;
        margin-left: 15px;
       
        button{
            font-size: 10px;
            margin: 0%;  
        }

            #buy{
                text-align: center;
                padding: 2px;
                width: 50px;
                height: 30px;
            
                }
           
            #prop{
                text-align: center;
                width: 100px;
                height: 30px;
                padding: 2px;
                
            }
            #room{
               
                text-align: center;
                padding: 2px;
                width: 50px;
                height: 30px;
               
        
            }
            #input1
            {
                width: 250px;
                height: 28px;
            } 
            #button1{
                width: 50px;
                height: 30px;
                font-size: 10px;
              
            }
            #button2{
             width: 60px;
             height: 30px;
             font-size: 10px;
             margin-left: 5px;
            } 
    }
      
           
           
     

       .menu2{
        width: 100%;
        ul li{
            padding: 2px;
            font-size: 10px;}
         
        
        
        }

        #titulo1{
            margin-top: 50px;
            font-size: 20px;
        }
   #titulo2{
    margin-top: 50px;
    font-size: 20px;
   }
   .logos img{
       width: 500px;
   }
   .texto{
       width: 600px;
       height: auto;
        margin-left: 0%;
       margin-top: 30px;
     ul{
         margin: 0%;
     }

       ul li{
    
        font-size: 6px;
        padding: 0px;
    }
        
        li h5{
            font-size: 5px;
            font-weight: bold;
            
        }
    }
    .containerf
{
    font-size: 10px;
    width: 50%;
    height: auto;
    background-color: rgba(128, 128, 128, 0.274);;
    padding-bottom: 20px;
    border-radius: 5px;
    ul li{
        
        padding: 10px;
    }
        input{
            font-size: 8px;
            background-color: rgb(255, 255, 255);
            border:0px;
            border-radius: 0px;
            height: 10px;
            
        }
        select{
            font-size: 8px;
            border-color: white;
            border-radius: 0px;
            height: 11px;
        }
        
    }
    .rodape1{
        width: 100%;
        height: auto;
        
        h2{
           align-items: center;
            font-size: 20px;
        }
        ul li{
            justify-content: center;
            padding: 10px;
            font-size: 13px;
        }
        }
    .faixa{
        width: 100%;
        height: auto;
        font-size: 10px;
        
        ul li{
            margin: 0px;
            padding: 5px;
        }
        li button{
            font-size:10px;
            
            width: 100px;
            height: 20px;
        }
    }

    .fim{
        padding-bottom: 10px;
        padding-right: 0px;
        padding-left: 0px;

        ul{
           padding-top: 10px;
            font-size: 10px;   
            padding-right: 50px;
        }
        ul li{
            list-style: none;
            
            font-family: $text-font;
            color: $third-color;
    
        }
        #social {
            margin-left: 10px;
            float: none;
            justify-content: center;
            align-items: center;
            padding-right: 0px;
           
        }
        #social li img{
           width: 20px;
        }
      
    }
    .faixafinal {
        #creditos{
            margin-left: 0px;
            width: 80%;
            padding: 0px;
        }
        #creditos li{
            font-size: 10px;
            display: inline-block;
            padding: 5px;
           img{
               width: 20px
           }
        }
        #select{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            float: right;
            margin-top: 0px;
            margin-right: 0px;
            padding: 0px;
            select{
    
                margin-top: 35px;
                font-size: 10px;
                border: none;
                width: auto;
                height: auto;
    
            }
        }
       
    }
}

/*
@media all and (max-width:768px)
{
        .header{
            width: 100%;
            height: auto;
        }
        .menu{
            padding-right: 10px;
            margin-right: 0px;
            width: 80%;
            font-size: 13px;
            margin-right: 0px;
            ul li{
                padding: 2px;
                img{
                    width: 15px;
                    height: 15px;
                }
            }
        }

        .logo {
            margin-top: 0%;
            margin-left: 10px;
            width: 20%;
            height: auto;
        img{
            width: 80px;
            height: 80px
        }}
   

    .gallery{
        margin-left: 100px;
        margin-right: 100px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(8,1fr);
        grid-gap: 5px;

    }
    .search{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 165px;
        width: 100%;
        height: 60px;

   
    .searchbar{
        margin-left: auto;
            width:auto;
            height: 40px;
            margin-right: 50px;
            #button1{
                width: 70px;
                height: 41px;
                font-size: 15px;
            }
            #button2{
                margin-left: 5px;
                width: 70px;
                height: 41px;
                font-size: 15px;
            }
        
            button{
                font-size: 12px;
                margin: 0%;  
            }

                #buy{
                    text-align: center;
                    padding: 2px;
                    width: 70px;
                    height: 40px;
                
                    }
            
                #prop{
                    text-align: center;
                    width: 100px;
                    height: 40px;
                    padding: 2px;
                    
                }
                #room{
                
                    text-align: center;
                    padding: 2px;
                    width: 70px;
                    height: 40px;
                
            
                }
                #input1
                {
                    width: 250px;
                    height: 38px;
                } 
         }
    }
      

       .menu2{
        width: 100%;
        ul li{
            padding: 2px;
            font-size: 15px;}
         
        
        
        }

        #titulo1{
            margin-top: 50px;
            font-size: 25px;
        }
   #titulo2{
    margin-top: 50px;
    font-size: 25px;
   }
   .logos img{
       
       width: 600px;
   }
   .texto{
       width: 100%;
       height: auto;
        margin-left: 0%;
       margin-top: 30px;
     ul{
         margin: 0%;
     }

       ul li{
    
        font-size: 7px;
        padding: 5px;
    }
        
        li h5{
            font-size: 7px;
            font-weight: bold;
            
        }
    }
.containerf
{
    font-size: 15px;
    width: 50%;
    height: auto;
    background-color: rgba(128, 128, 128, 0.274);;
    padding-bottom: 20px;
    border-radius: 5px;
    ul li{
        
        padding: 10px;
    }
        input{
            font-size: 10px;
            background-color: rgb(255, 255, 255);
            border:0px;
            border-radius: 0px;
            height: 20px;
            width: 100px;
            
        }
        select{
            font-size: 10px;
            border-color: white;
            border-radius: 0px;
            height: 20px;
        }
        
    }
    .rodape1{
        width: 100%;
        height: auto;
    
    
        
        h2{
            margin-left: 30%;
            font-size: 25px;
        }
        ul li{
            margin-left: 15%;
            padding: 10px;
            font-size: 17px;
        }
        }
    .faixa{
        width: 100%;
        height: auto;
        font-size: 15px;
        
        ul li{
            margin: 0px;
            padding: 5px;
        }
        li button{
            font-size:10px;
            text-align: center;
            width: 100px;
            height: 25px;
        }
    }

    .fim{
        padding-bottom: 10px;
        padding-right: 0px;
        padding-left: 0px;
       
       
        ul{
            
            padding-top: 10px;
            font-size: 15px;   
            padding-right: 75px;
        }
        ul li{
            list-style: none;
            
            font-family: $text-font;
            color: $third-color;
    
        }
        #social {
            margin-left: 10px;
            float: none;
            justify-content: center;
            align-items: center;
            padding-right: 0px;
           
        }
        #social li img{
           width: 30px;
        }
      
    }
    .faixafinal {
        width: 100%;
        #creditos{
            margin-left: 0px;
            width: 70%;
            padding: 0px;
        }
        #creditos li{
            font-size: 11px;
            display: inline-block;
            padding: 10px;
           img{
               width: 30px
           }
        }
        #select{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            float: right;
            margin-top: 0px;
            margin-right: 0px;
            padding: 0px;
            select{
    
                margin-top: 35px;
                font-size: 12px;
                border: none;
                width: auto;
                height: auto;
    
            }
        }
       
    }
        }*/